<h1>Test API Contacts</h1>
<% @result = [] %>
<% @contacts["contacts"].each do |key, value| %>
<%#= @contacts %>
<%  key.each do|a, b| %>
<% @result << b %>
  <% end %>
  <%# valeurs.each do |key, valu| %>
  <%#= key %>
<% end %>
<%= @result[8] %>


 <!--  furniture_values = (furniture.map {|furn| [furn["name"], furn["color"], furn["size"], furn["date_created"], furn["condition"]]}) -->
